
<form #userform="ngForm" (ngSubmit)="submitQuiz(userform)">
  <label for="username_input" >Username: </label>
  <input type="text" id="username_input" name="username" placeholder="Username" ngModel/>

  <div *ngFor="let question of questionsList; index as i">
    <p>{{ question.question_name }}</p>
    <label for="choice_1"></label>
    <input type="radio" id="choice_1" name="{{ i }}" value="{{ question.choice_1 }}" ngModel>{{
    question.choice_1 }}
    <label for="choice_2"></label>
    <input type="radio" id="choice_2" name="{{ i }}" value="{{ question.choice_2 }}" ngModel>{{
    question.choice_2 }}
    <label for="choice_3"></label>
    <input type="radio" id="choice_3" name="{{ i }}" value="{{ question.choice_3 }}" ngModel>{{
    question.choice_3 }}
    <label for="choice_4"></label>
    <input type="radio" id="choice_4" name="{{ i }}" value="{{ question.choice_4 }}" ngModel>{{
    question.choice_4 }}
  </div>

  <button>See Your Results!</button>
</form>
